doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/adminDelete.js')

  body

      div.col-sm-2
        div.list-group
          a.list-group-item.active MoviesWeb
          a.list-group-item(href='../') 电影展示页
          a.list-group-item(href='../admin/list') 电影列表页
          a.list-group-item(href='../admin/movie') 后台录入页
      div.col-sm-10
        block content